/*
Website: 
Website URI: 
Author: 
Author URI: 
Description: 
Version: 
*/

/**
 * -------------------------------------------------------------
 * Reset
 * ------------------------------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



/**
 * -------------------------------------------------------------
 * Global styles
 * Element selectors
 * ------------------------------------------------------------- */

img {
	width: 100%;
	height: auto;
	display: block;
}

/**
 * -------------------------------------------------------------
 * Utilities
 * Selectors that serve a particular purpose.
 * ------------------------------------------------------------- */

.no-bullets {
	list-style-type: none;
	padding: 0;
}


/**
 * -------------------------------------------------------------
 * Layout settings
 * Structure of the page.
 * ------------------------------------------------------------- */



/**
 * -------------------------------------------------------------
 * Modules
 * Individual areas of a page.
 * ------------------------------------------------------------- */


